{% extends 'admin/base.html.twig' %}
{% block container %}
	<div class="p-6 h-full border border-coolGray-100 overflow-hidden bg-white rounded-md shadow-dashboard">
		{% block form %}{% endblock %}
	</div>
{% endblock %}
