{% extends 'admin/base.html.twig' %}

{% block title %}Edit Location
{% endblock %}

{% block container %}
	<h1>Edit Location</h1>
	{{ include('location/_form.html.twig',{'button':'Actualizar'}) }}
{% endblock %}
