<div class="flex flex-wrap items-center mb-5">
    <span class="inline-flex justify-center items-center w-16 h-16 mr-4 bg-indigo-500 rounded">
        {# icon #}
        <svg class="h-7 w-7 text-white" viewbox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.3328 5.66668H19.3328V4.33334C19.3328 3.27248 18.9114 2.25506 18.1612 1.50492C17.4111 0.754771 16.3937 0.333344 15.3328 0.333344H12.6661C11.6053 0.333344 10.5879 0.754771 9.83771 1.50492C9.08757 2.25506 8.66614 3.27248 8.66614 4.33334V5.66668H4.66614C3.60527 5.66668 2.58786 6.0881 1.83771 6.83825C1.08757 7.58839 0.666138 8.60581 0.666138 9.66668V21.6667C0.666138 22.7275 1.08757 23.745 1.83771 24.4951C2.58786 25.2452 3.60527 25.6667 4.66614 25.6667H23.3328C24.3937 25.6667 25.4111 25.2452 26.1612 24.4951C26.9114 23.745 27.3328 22.7275 27.3328 21.6667V9.66668C27.3328 8.60581 26.9114 7.58839 26.1612 6.83825C25.4111 6.0881 24.3937 5.66668 23.3328 5.66668ZM11.3328 4.33334C11.3328 3.97972 11.4733 3.64058 11.7233 3.39053C11.9734 3.14049 12.3125 3.00001 12.6661 3.00001H15.3328C15.6864 3.00001 16.0256 3.14049 16.2756 3.39053C16.5257 3.64058 16.6661 3.97972 16.6661 4.33334V5.66668H11.3328V4.33334ZM24.6661 21.6667C24.6661 22.0203 24.5257 22.3594 24.2756 22.6095C24.0256 22.8595 23.6864 23 23.3328 23H4.66614C4.31252 23 3.97338 22.8595 3.72333 22.6095C3.47328 22.3594 3.3328 22.0203 3.3328 21.6667V14.9333H7.33281V16.3333C7.33281 16.687 7.47328 17.0261 7.72333 17.2761C7.97338 17.5262 8.31252 17.6667 8.66614 17.6667C9.01976 17.6667 9.3589 17.5262 9.60895 17.2761C9.859 17.0261 9.99947 16.687 9.99947 16.3333V14.9333H17.9995V16.3333C17.9995 16.687 18.1399 17.0261 18.39 17.2761C18.64 17.5262 18.9792 17.6667 19.3328 17.6667C19.6864 17.6667 20.0256 17.5262 20.2756 17.2761C20.5257 17.0261 20.6661 16.687 20.6661 16.3333V14.9333H24.6661V21.6667ZM24.6661 12.3333H3.3328V9.66668C3.3328 9.31305 3.47328 8.97392 3.72333 8.72387C3.97338 8.47382 4.31252 8.33334 4.66614 8.33334H23.3328C23.6864 8.33334 24.0256 8.47382 24.2756 8.72387C24.5257 8.97392 24.6661 9.31305 24.6661 9.66668V12.3333Z" fill="currentColor"></path>
        </svg>
    </span>
    <div>
        <h2 class="mb-1 text-2xl font-bold">
            Lista de
            {{ title }}
        </h2>
        <p class="text-sm text-gray-500 font-medium">
            <span class="text-indigo-500">
                {{ counter }}
            </span>
            <span>
                encontradas 
            </span>
        </p>
    </div>
    <div class="w-full md:w-auto my-6 md:my-0 flex items-center ml-auto ">
        <a class="w-full md:w-auto flex items-center py-2 px-4 mr-3 bg-indigo-500 hover:bg-indigo-600 rounded text-xs text-white transition duration-200" href="{{ route }}">
            <span class="mr-1">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8333 1.66669H4.16666C2.74999 1.66669 1.66666 2.75002 1.66666 4.16669V15.8334C1.66666 17.25 2.74999 18.3334 4.16666 18.3334H15.8333C17.25 18.3334 18.3333 17.25 18.3333 15.8334V4.16669C18.3333 2.75002 17.25 1.66669 15.8333 1.66669ZM13.3333 10.8334H10.8333V13.3334C10.8333 13.8334 10.5 14.1667 9.99999 14.1667C9.49999 14.1667 9.16666 13.8334 9.16666 13.3334V10.8334H6.66666C6.16666 10.8334 5.83332 10.5 5.83332 10C5.83332 9.50002 6.16666 9.16669 6.66666 9.16669H9.16666V6.66669C9.16666 6.16669 9.49999 5.83335 9.99999 5.83335C10.5 5.83335 10.8333 6.16669 10.8333 6.66669V9.16669H13.3333C13.8333 9.16669 14.1667 9.50002 14.1667 10C14.1667 10.5 13.8333 10.8334 13.3333 10.8334Z" fill="#8880EB"></path>
                </svg>
            </span>
            <span class="text-lg">
                Añadir
                            
            </span>
        </a>
    </div>
</div>
